body {
  margin: 0px;

  background-color: #f3f7fc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-success {
  color: #20d6ae !important;
}

.rounded {
  border-radius: 20px !important;
}
